.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1240px;
  overflow: hidden;
}
