.orders {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - var(--offset-base-size) * 50);
  overflow: auto;
}

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
