.feed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  column-gap: calc(var(--offset-base-size) * 15);
}
