.header {
  width: 100%;
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
}

.link_position_last {
  display: flex;
  flex-basis: 35%;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
